:root {
	--header-height: 80px; /** Match .site-header-height. Will be updated via JS */
	--sticky-header-hide-offset: 6px;
	--scroll-margin-top-offset: calc(1rem + var(--sticky-header-hide-offset));

	@media (max-width: 343px) {
		--header-height: 120px; /** Match .site-header height. Will be updated via JS */
	}
}

html,
body {
    height: 100%;
}

html {
	scroll-behavior: smooth;

	@media (prefers-reduced-motion) {
		scroll-behavior: auto;
	}

	&::before {
		background-image: linear-gradient(to bottom, #eee 0% 50%, #333 50%);  /** Match .site-header background-color and .site-footer background-color */
		background-repeat: no-repeat;
		background-size: 100%;
		content: "";
		height: 100%;
		position: fixed;
		top: 0;
		width: 100%;
	}
}

body {
	min-width: 320px;
}

:first-child {
	margin-top: 0;
}

:last-child {
	margin-bottom: 0;
}

:target {
	scroll-margin-top: 1rem;
}

:focus {
	outline: 5px auto Highlight;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: 0;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal !important;
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;

	&:focus {
		clip: auto !important;
		-webkit-clip-path: none;
		clip-path: none;
		height: auto;
		width: auto;
	}
}

.skip-link {
	position: fixed !important;
}

.skip-link--to-content {
	z-index: 5;
	top: 1rem;
	left: 1rem;
}

.button {
	display: inline-block;
	background-color: #fff;
	border: 1px solid;
	font-size: 14px;
	padding: 1em;
}

.container {
	padding: 1rem;

	& > * {
		width: 720px;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
	}
}

.site {
	background-color: #fff;
	display: flex;
    flex-direction: column;
    min-height: 100%;
	position: relative;
	z-index: 1;
}

.site-header {
	background-color: #eee;
	box-shadow: 0 1px #ddd;
	flex-shrink: 0;
	transition: transform 0.2s ease-in-out;
}

.site-header--sticky {
	position: sticky;
	top: 0;
	z-index: 4;
	transform: translateY(0);

	& + .site-content {

		& :target {
			scroll-margin-top: calc(var(--header-height) + var(--scroll-margin-top-offset));
		}
	}
}

.site-header--hide {
	transform: translateY(calc(-1 * (100% - var(--sticky-header-hide-offset))));
	transition: transform 0.4s ease-in-out;

	& + .site-content {

		& :target {
			scroll-margin-top: var(--scroll-margin-top-offset);
		}
	}

	&:hover,
	&:focus,
	&:focus-within {
		transform: translateY(0);
		transition: transform 0.2s ease-in-out;

		& + .site-content {

			& :target {
				scroll-margin-top: calc(var(--header-height) + var(--scroll-margin-top-offset));
			}
		}
	}
}

.site-header__inner {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: space-between;
}

.header-logo {
	margin: 0;
}

.header-menu {

	& h1 {
		display: none;
	}

	& ul {
		list-style: none;
		display: flex;
		gap: 1em;
		margin: 0;
		padding: 0;
	}
}

.site-content {
	flex-grow: 1;

	& > .container {
		padding-bottom: 2rem;
		padding-top: 2rem;
	}
}

.site-footer {
	background-color: #333;
	color: #fff;
	flex-shrink: 0;
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.copyright {
	margin-bottom: 0;
}

.footer-back-to-top {
	position: fixed;
	bottom: 2rem;
	right: 1rem;
}

.hero {
	background-color: #ddd;
	margin: -2rem -1rem 2rem;
	padding-bottom: 4rem;
	padding-top: 4rem;
	width: calc(100% + 1rem * 2);
	max-width: none;
}
