@import "normalize.css";

:root {
	--color-brand-primary-50: #ffe3e5;
	--color-brand-primary-100: #f9d0d2;
	--color-brand-primary-200: #e79999;
	--color-brand-primary-300: #db7379;
	--color-brand-primary-400: #e76068;
	--color-brand-primary-500: #f54b55;
	--color-brand-primary-600: #e31e41;
	--color-brand-primary-700: #cf2035;
	--color-brand-primary-800: #b1172a;
	--color-brand-primary-900: #a30811;
	--color-brand-secondary-50: #e3faf8;
	--color-brand-secondary-100: #d1f2f0;
	--color-brand-secondary-200: #bbeae8;
	--color-brand-secondary-300: #ade2e0;
	--color-brand-secondary-400: #9bdcda;
	--color-brand-secondary-500: #7ed5d4;
	--color-brand-secondary-600: #64c7c7;
	--color-brand-secondary-700: #28b4b1;
	--color-brand-secondary-800: #2a9f9f;
	--color-brand-secondary-900: #039591;
	--color-brand-grayscale-50: #f8f9fa;
	--color-brand-grayscale-100: #f1f3f4;
	--color-brand-grayscale-200: #dfe2e3;
	--color-brand-grayscale-300: #d5d7d8;
	--color-brand-grayscale-400: #b9bbbd;
	--color-brand-grayscale-500: #9aa0a6;
	--color-brand-grayscale-600: #80868b;
	--color-brand-grayscale-700: #5f6368;
	--color-brand-grayscale-800: #3c4043;
	--color-brand-grayscale-900: #202124;
	--color-brand-white: #fff;
	--color-brand-black: var(--color-brand-grayscale-900);
	--color-brand-primary: var(--color-brand-primary-600);
	--color-brand-secondary: var(--color-brand-secondary-500);
	--color-brand-text-body: var(--color-brand-grayscale-700);
	--font-brand-family-serif: "Berlingske Serif", "Playfair Display", serif;
	--font-brand-family-sans-serif: "IBM Plex Sans", sans-serif;
	--font-brand-family-monospace: "IBM Plex Mono", monospace;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

:focus {
	position: relative;
	z-index: 4;
}

body {
	accent-color: var(--color-brand-primary-600);
	background-color: var(--color-brand-white);
	color: var(--color-brand-text-body);
	font-family: var(--font-brand-family-sans-serif);
	line-height: 1.5;
}

h1,
h2,
h3 {
	font-family: var(--font-brand-family-serif);
}

h4,
h5,
h6 {
	font-family: var(--font-brand-family-sans-serif);
}

a {
	color: var(--color-brand-primary);
}

a:hover,
a:focus {
	color: var(--color-brand-primary-900);
	text-decoration: none;
}

button {
	appearance: none;
	background-color: var(--color-brand-primary);
	border: 2px solid var(--color-brand-primary);
	border-radius: 0.25em;
	color: var(--color-brand-white);
	cursor: pointer;
	padding: 0.5em;
	transition-duration: 300ms;
	transition-property: background-color, border-color;
	transition-timing-function: ease-in-out;
}

button:hover,
button:focus {
	background-color: var(--color-brand-primary-900);
	border-color: var(--color-brand-primary-900);
}
