.header {
	background-color: var(--color-brand-black);
	display: flex;
	left: 0;
	padding: 1rem;
	position: sticky;
	top: 0;
	width: 100%;
}

.menu {
	align-items: flex-start;
	background-color: var(--color-brand-black);
	color: var(--color-brand-white);
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
	left: 0;
	max-width: 30vw;
	min-width: max-content;
	opacity: 0;
	overflow: scroll;
	padding: 1rem 1rem 2rem;
	position: absolute;
	top: 0;
	transform: translateX(-100%);
	visibility: hidden;
	width: 100%;
}

.menu a {
	color: var(--color-brand-white);
	display: flex;
	justify-content: center;
	text-decoration-color: transparent;
	transition-duration: 300ms;
	transition-property: color, text-decoration, transform;
	transition-timing-function: ease-in-out;
}

.menu a:hover {
	color: var(--color-brand-primary);
	text-decoration-color: var(--color-brand-primary);
}

.menu svg {
	display: inline-flex;
	fill: currentColor;
	height: 1em;
	width: auto;
}

.menu__controls {
	grid-row: 1;
}

.menu__list {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding-left: 0;
	width: 100%;
}

.menu__list--primary {
	flex-direction: column;
	font-size: 1.5rem;
	gap: 1em;
}

.menu__list--secondary {
	display: flex;
	font-size: 2.5rem;
	gap: 0.5em;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 80ch;
	padding: 1em;
}

.navigation--primary {
	align-self: center;
	grid-column: 1 / 3;
	grid-row: 2;
	justify-self: center;
}

.navigation--primary li {
	opacity: 0;
	transform: translateY(2em);
}

.navigation--primary a {
	font-size: 2rem;
	font-weight: 700;
}

.navigation--primary a:hover {
	color: var(--color-brand-white);
}

.navigation--secondary {
	grid-column: 1 / 3;
	grid-row: 3;
}

.navigation--secondary li {
	opacity: 0;
	transform: translateY(1em);
}

.navigation--secondary a:focus,
.navigation--secondary a:hover {
	transform: scale(1.2);
}
