a {
	color: var(--color-brand-primary);
}

button {
	appearance: none;
	background-color: var(--color-brand-primary);
	border: 2px solid var(--color-brand-primary);
	border-radius: 0.25em;
	color: var(--color-brand-white);
	cursor: pointer;
	padding: 0.5em;
	transition-duration: 300ms;
	transition-property: background-color, border-color;
	transition-timing-function: ease-in-out;
}

button:hover {
	background-color: var(--color-brand-primary-900);
	border-color: var(--color-brand-primary-900);
}

figure {
	margin-left: auto;
	margin-right: auto;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 80ch;
	padding: 1em;
}

.marquee {
	--gap: 1em;

	border: 2px solid var(--color-brand-grayscale-400);
	border-radius: 0.25rem;
	display: flex;
	font-family: var(--font-brand-family-serif);
	font-size: 5rem;
	gap: var(--gap);
	overflow: hidden;
}

.marquee__content {
	display: flex;
	flex-shrink: 0;
	gap: var(--gap);
	justify-content: space-around;
	min-width: 100%;
}
